.combobox {
    display: flex;
    flex-direction: row;
}

.list, .send {
    display: inline-block;
}
.list {
    width: 150px;
    height: 150px;
}

.list--top {
    position: relative;
    background-color: white;
}

.list--text-input {
    border: 1px solid lightsteelblue;
    margin: 4px 0;
    border-radius: 10px;
    display: table;
    padding: 0 0 0 5px;
}

.list--textfield {
    width: 85%;
    border: none;
    outline: none;
    display: table-cell;
    font-size: 0.6em;
    vertical-align: middle;
}

.list--toggle-button {
    cursor: pointer;
    display: table-cell;
    width: 15%;
    background-color: mediumblue;
    border-radius: 50%;
    box-shadow: 0 0 2px midnightblue;
}

.list--content {
    margin: 30px 0 0 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: 140px;
    overflow: hidden;
    max-height: 100px;
    overflow-y: auto;
}

.list--content > li {
    border: 1px solid lightsteelblue;
    margin: 4px 0;
    padding-left: 4px;
    border-radius: 10px;
    font-size: 0.6em;
    height: 12px;
}

.list--content--open {
    height: 150px;
    transition: .5s;
}

.list--content--closed {
    height: 1px;
    transition: .5s;
}

.send {
    display: table;
    margin: 2px;
}

.send--button, .send--error-field {
    display: table-cell;
}

.send--button {
    font-size: 0.6em;
    height: 20px;
    background-color: darkblue;
    color: white;
    border: none;
    text-align: center;
    border-radius: 10%;
}

.send--error-field > p {
    color: red;
    margin: 0 0 0 15px;
    font-size: 0.6em;
}
