.combobox {
    display: flex;
    flex-direction: row;
}

.list, .send {
    display: inline-block;
}
.list {
    width: 150px;
    height: 150px;
}

.list--top {
    position: relative;
    overflow: hidden;
    height: 150px;
    background-color: white;
}

.list--text-input {
    border: 1px solid lightsteelblue;
    margin: 4px 0;
    border-radius: 10px;
    display: table;
    padding: 0 0 0 5px;
}

.list--textfield {
    width: 85%;
    border: none;
    outline: none;
    display: table-cell;
    font-size: 0.6em;
    vertical-align: middle;
}

.list--toggle-button {
    cursor: pointer;
    display: table-cell;
    width: 15%;
    background-color: mediumblue;
    border-radius: 50%;
    box-shadow: 0 0 2px midnightblue;
}

.list--content {
    margin: 40px 0 0 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    z-index: -1;
}

.list--content > li {
    border: 1px solid lightsteelblue;
    margin: 4px 0;
    border-radius: 10px;
    font-size: 0.6em;
}

.send {
    display: table;
}

.send--button, .send--error-field {
    display: table-cell;
}

.send--button {
    font-size: 0.6em;
}

.send--error-field > p {
    color: red;
    margin: 0 0 0 15px;
    font-size: 0.6em;
}
